body{
  background-color: rgb(0, 2, 241);
}

.site{
    background-color: #fff;

}

.rodape{
    height : 90px;
    background-color: #000;
    color: #fff;
    text-align: center;

}

.rodape p{
    margin-top: 40px;

}

.row button
{
  margin-top: 10px;



}

.row iframe{


  margin-left:500px;
}

.box{

          width: 45%;
          float: left; /*tornamos a div um ponto flutuante a esquerda*/


        }


.box2 {


  margin-left: 550px;

}




.row2 button
{
  margin-left: 360px ;
  margin-top: 10px;
  padding-left:20px;

}

.row textarea
{

    width: 100%;

}
