body{

background-color: rgb(251, 104, 104);

}



 button{
margin-left: 200px;
margin-top : 30px;
height: 40px;
width: 300px;


}

.modal-footer button{
margin-left: 150px;
margin-top : 0px;
height: 40px;
width: 100px;


}


.modal-footer1 button{
margin-left: 190px;
margin-top : 10px;
height: 40px;
width: 100px;


}

.modal-footer1{

margin-top : 0px;
margin-left: 300px;



}

.bus{

margin-left: 190px;
margin-top: 20px;


}
.bus button{

  margin-left: 190px;
  margin-top : 30px;
  height: 40px;
  width: 100px;


}







footer {

    background-color: rgb(1, 1, 1);
    width: 100%;
    margin-right: 300px;
    height : 70px;
    margin-top: 30px;

}


footer p {

    color: rgb(255, 245, 244);
    text-align: center;


}
